

#titulo1{
    text-align: center;
    font-size: 36px;
    background-color: rgba(240, 239, 239, 0.87);
    padding: 30px;
}



#divProductos{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noEncontrado{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 24px;
    padding: 40px;
}

.card{
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
   border: 2px solid rgba(0,0,0,.125);
}


#botonMostrar{
    background-color: rgb(21, 0, 143);
    margin: 10px; 
}



.menuProductos{
    padding-top:5px;
    padding-bottom: 5px;
}

#precioTotal{
    display:flex;
    justify-content: left;
    align-items: center;

    font-size: 18px;
    padding: 10px;
    border: 5px;
}


#btnDentroCarrito{
display: flex;
padding: 20px;

}

#fondoCarritoBtn{
    background-color: rgb(211, 211, 211);

}

